.main {
   width: 100%;
   max-width: 1000px;
   margin: 5rem auto;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.8);
   border-radius: 20px;
   padding: 2rem;
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
}

.text {
   font-size: 2.5rem;
   color: #ea1d5d;
   font-weight: bold;
}

.myButton {
   font-family: 'Montserrat Alternates', sans-serif;
   box-shadow: 0px 10px 14px -7px #276873;
   background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
   background-color: #599bb3;
   border-radius: 12px;
   display: inline-block;
   cursor: pointer;
   color: #fff;
   font-size: 2rem;
   font-weight: bold;
   padding: 32px 0;
   text-decoration: none;
   width: 100%;
   max-width: 16rem;
   margin: 0 auto;
}

.myButton:hover {
   background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
   background-color: #408c99;
}
.myButton:active {
   position: relative;
   top: 1px;
}
