.repositories {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   padding:  2rem;
   row-gap: 2rem;
   animation: fade-in 1s ease-in forwards;
}
.readmeBox {
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
   width: 100;
   max-width: 1000px;
   text-align: center;
   background-color: #f6f8fa;
   border: 1px solid #e1e4e8;
   border-radius: 15px;
   padding: 16px;
   margin-top: 16px;
}

.readmeBox ol {
   list-style: none;
}

@keyframes fade-in {
   0% {
      opacity: 0;
      transform: translateY(50%)
   }
   40% {
      opacity: 0.2;
      transform: translateY(0)
   }
   100% {
      opacity: 1;
      transform: translateY(0)
   }
}