.repositories {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   padding:  2rem;
   row-gap: 2rem;
   animation: fade-in 1s ease-in forwards;
}

.errorMsg {
   text-align: center;
   font-size: 1.5rem;
   color: #ea1d5d;
   animation: blink 1s ease-in alternate infinite;
}

@keyframes fade-in {
   0% {
      opacity: 0;
      transform: translateY(50%)
   }
   40% {
      opacity: 0.2;
      transform: translateY(0)
   }
   100% {
      opacity: 1;
      transform: translateY(0)
   }
}

@keyframes blink {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}