.main {
   width: 100%;
   max-width: 1000px;
   margin: 5rem auto;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.8);
   border-radius: 20px;
   padding: 2rem;
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
   animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
   0% {
      opacity: 0;
      transform: translateY(50%)
   }
   40% {
      opacity: 0.2;
      transform: translateY(0)
   }
   100% {
      opacity: 1;
      transform: translateY(0)
   }
}

.text {
   font-size: 2.5rem;
   color: #ea1d5d;
   font-weight: bold;
}

.btnBox {
   display: flex;
   column-gap: 1rem;
}

.myButton {
   font-family: 'Montserrat Alternates', sans-serif;
   box-shadow: 0px 10px 14px -7px #276873;
   background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
   background-color: #599bb3;
   border-radius: 12px;
   display: inline-block;
   cursor: pointer;
   color: #fff;
   font-size: 2rem;
   font-weight: bold;
   padding: 32px 10px;
   text-decoration: none;
   width: 100%;
   max-width: 16rem;
   margin: 0 auto;
}

.myButton:hover {
   background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
   background-color: #408c99;
}
.myButton:active {
   position: relative;
   top: 1px;
}
