@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
/* universal selector style */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   /* border: 1px solid ; */
}
ul {
   display: flex;
   list-style: none;
}

a {
   text-decoration: none;
}

button {
   border: none;
   outline: none;
}

header .active > span {
   color: #ea1d5d;
}

body {
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
   font-family: 'Montserrat Alternates', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   border: 1px solid #eee;
   box-shadow: 1px 3px 42px 7px rgb(219 142 142 / 75%);
   -webkit-box-shadow: 1px 3px 42px 7px rgb(219 142 142 / 75%);
   -moz-box-shadow: 1px 3px 42px 7px rgba(219, 142, 142, 0.75);
}
